@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to the School application</h2>
    <p>
        This is an MVC application that connects to a database through Entity Framework.
    </p>
    <p>
        The application in this case is a school app – tracking teachers, students and courses, as well as assignments.
    </p>
</div>
